a {
    color: #696;
    background: transparent;

    &:visited {
        color: gray;
    }
    &:hover {
        color: white;
        background: #006;
    }
    .social-media-list &:hover {
        text-decoration: none;
        color: #696;
        background: transparent;

        .username {
            text-decoration: underline;
        }
    }

}

header {
    h1 {
        line-height: $base-font-size * 2;
        padding-bottom: 4px;
        text-transform: lowercase;
    }

    @include media-query($on-palm) {
        h1 {
            line-height: normal;
        }
    }

    h2 {
        line-height: 12px;
        text-transform: lowercase;
        letter-spacing: 2px;
        padding-bottom: 4px;
    }
}

body {
    margin: 0 15%;
    padding: 0;
}

#masterwrap {

}

#bodywrap {
}

@media (min-width: $on-laptop) {
    header.side-bar {
        float: left;
        padding: 25% 0 8% 0;
        width: 34%;
        text-align: right;
    }
}

@media (min-width: $on-laptop) {
    main.text {
        min-height: 750px;
        float: right;
	text-align: left;
	left: 0;
	padding: 0 0 0 1em;
	border-left: 1px solid #999;
	width: 65%;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 63%;
    }
}

footer.footer {
    clear: both;
    margin: 0;
    padding: 2em 0 0 0;
}

#styles {
    color: #999;
}

.links {
    padding-top: 18px;
    text-transform: lowercase;

    .nav-trigger {
        display: none;
    }
    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: $small-font-size;
        line-height: $small-font-size;
    }

    .linkdesc {
        color: #CCC;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg path {
                fill: $grey-color-dark;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
        .linkdesc {
            display: none;
        }
    }
}

.bk2top {
    float: right;
}

ins {
    color: #663;
    font-style: none;
}

.bottom-link {
    float: right;
    text-align: right;
    margin: 32px 0px 15px 0px;
    @extend .note;
}

.previous-post-link {
    @extend .bottom-link
}
.rss-subscribe {
    @extend .bottom-link
}

.post-list {
    margin-left: 0;
    padding: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 3;
        &:not(:last-child) {
            border-bottom: 1px dashed $grey-color;
        }
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
