<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div id="masterwrap">
      <div id="bodywrap">

        {%- include header.html -%}

        <main class="text" aria-label="Content">
          <div class="wrapper-and-marginalia">
            <div class="wrapper">
              {{ content }}
            </div>
            <aside class="marginalia" aria-label="Marginal notes">
              {% if page.id %}
              <p class="permalink"><a href="{{ latest_post.url }}"><span class="grey fa-regular fa-bookmark"></span>Permalink</a></p>
              {% endif %}
              {% if page.originallink %}
              <p class="original-permalink"><a href="{{ page.originallink }}"><span class="grey fa-regular fa-bookmark"></span>From LiveJournal</a></p>
              {% endif %}
              {% if page.tags %}
              {% assign page_tags = page.tags | sort %}
              <p class="tags">{% for tag in page_tags %}
              <a href="/tag/{{ tag }}/index.html"><span class="grey fa-solid fa-tag"></span>{{ tag }}</a>{% unless forloop.last %}{% endunless %}
              {% endfor %}
              </p>
              {% endif %}
            </aside>
          </div>
        </main>

        {%- include footer.html -%}

      </div>
    </div>

  </body>

</html>
