---
---
{% assign latest_post = site.posts | first %}
{% assign page = latest_post %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div id="masterwrap">
      <div id="bodywrap">

        {%- include header.html -%}

        <main class="text" aria-label="Content">
          <div class="wrapper-and-marginalia">
            <div class="wrapper">
              {{ latest_post.content }}

              {% assign prev_post = site.posts[1] %}
              {% if prev_post %}
                <p class="previous-post-link">Previously: <a href="{{ prev_post.url | relative_url }}">{{ prev_post.title | strip_html }}</a></p>
              {% endif %}
            </div>
            <aside class="marginalia" aria-label="Marginal notes"></aside>
          </div>
        </main>

        {%- include footer.html -%}

      </div>
    </div>

  </body>

</html>
